<form action="/submit" method="POST">
    <input type="text" name="fName" placeholder=<%= fName %>>
    <input type="text" name="lName" placeholder=<%= lName %>>
    <input type="submit" value="OK">
  </form>