<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page EJS</title>
</head>
<body>
    <h1>The total length of your names is <%= fName.length + lName.length %></h1>
    <%- include('form.ejs') %>
    
</body>
</html>