<%# You can write your commment in this tag %>
<% if (locals.myVar) { %>
    <h1>My Var is defined</h1>
    <% } else { %>
        <h1>My Var is not defined</h1>
        <% } %>

<%# So the word locals.dot is important in my variables that are passed otherwise it will just not run
 %>
